@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["no"] = true;
}

<!-- Pagina principala. Utilizeaza framework-ul bootstrap pentru a afisa cartile in forma de card

-->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Login system doesn't work -- entity framework issues <a href="/User"> for Login </a></p>
</div>

<div class="py-5" style="background-color: lightblue">
    <div class="container text-white">
        <div class="row justify-content-center">
            <div class="col-md-10 pb-3 text-center">
                <h1 class="display-1">
                    <strong>
                        Book Store
                    </strong>
                </h1>

                <p>
                    "Reading is a lot like going to the gym. Both of them thrive on commitment, discipline, and time. Just like going to the gym, reading is not for everyone. The similarities go even further: you may not have hours every day to read/go to the gym. But every little bit matters when it comes to training your body or your mind."
                </p>
            </div>
        </div>
    </div>
</div>


<style>
.book-item img{
    transition:all 0.4s ease;
}
.book-item:hover{
    transform:scale(1.1);
}
</style>


<div class="py-3" style="background-color:white">
    <div class="container">
        <h1 class="pb-5 text-center display-5">
           Carti Noi
        </h1>
        <div class="row">
            @foreach (var item in Model.NewestBooks)
            {
                <div class="col-lg-3 sm-6 my-2">
                    <div class="card text-center h-80 book-item">
                        <img src="/imagesBooks/@item.ImageFileName" card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5>@item.Title</h5>
                            <p>@item.Author, @item.Category</p>
                            <h4 Price>@item.Price lei</h4>
                            <a class="btn btn-primary btn-sm my-2" href="/BookDetails?id=@item.Id" role="button">Details</a>
                            <button type="button" class="btn btn-primary btn-sm my-2 btn-warning"  onclick="addToCart(this, @item.Id)">
                                Add to cart<i class="bi bi-cart"></i>
                            </button>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
 </div>



<div class="py-3" style="background-color:lightblue">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.TopBooks)
            {
                <div class="col-lg-3 sm-6 my-2">
                    <div class="card text-center h-80 book-item">
                        <img src="/imagesBooks/@item.ImageFileName" card-img-top p-2" alt="...">
                        <div class="card-body">
                            <h5>@item.Title</h5>
                            <p>@item.Author, @item.Category</p>
                            <h4 Price>@item.Price lei</h4>
                            <a class="btn btn-primary btn-sm my-2" href="/BookDetails?id=@(item.Id)" role="button">Details</a>
                            <button type="button" class="btn btn-primary btn-sm my-2 btn-warning"  onclick="addToCart(this, @item.Id)">
                                Add to cart<i class="bi bi-cart"></i>
                            </button>

                        </div>
                    </div>
                </div>
            }
        </div>  
    </div>
</div>


